header{
	background-image: url(..//img/aaa.jpg);
	background-height:100px;
	color: white;
	font-family: jokerman;
	font-size: 50px;
	text-align: center;
	padding: 40px;
}
nav ul{
	list-style: none;
	text-align: center;
	background-color: #5334e7;
	border-style: solid;
	border-radius: 10px;
	border-color: #5334e7;
}
nav li{
	width:100px;
	display: inline-block;
	border-width:3px groove;
	line-height: 50px;
	font-size: 20px;
	border-color: yellow;
	font-family: calibri;
}
nav li:last-child{
	border-right: none;
}
nav li li{
	border-right: none;
}
nav a{
	color: white;
	text-decoration: none;
	display: block;
	padding-left: 15px;
	transition-property:background-color,padding;
	transition-delay: 0.1s;
	transition-duration: 0.5s;
}
nav a:hover{
	color:purple;
	text-decoration: none;
	background-color: #e49e36;
	/*padding-right:30px;*/
	/*padding-left: 30px;*/
}
nav li li{
font-size: 0.8em;
}
nav > ul > li{
	text-align: center;
}
nav>ul>li>a{
	padding-left: 0;
}
nav li ul{
	position:absolute;
	display: none;
	width: inherit;
	}
nav li:hover ul{
	display: block;
	text-transform: bold;
}
nav li ul li{
	display:block;
}

/*upto here it sholud be on every page*/
div img{
	width: 250px;
	height: 200px;
	border-style: ridge;
	align-self: center;
	transition-property: width,border-radius,padding,height;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0.1s; 
	margin: 10px;
	border-bottom-left-radius: 40px;
	border-top-right-radius:40px;
}
div img:hover{
	width: 300px;
	height: 300px;
	border-style:groove;
	padding: 20px;
	cursor:zoom-in;
	
}

